body {
  background-color: rgb(71, 75, 36);
  background-image: url("images/floral-background.avif");
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}

.main-div {
  background-color: rgb(178, 176, 155);
  padding: 30px;
  margin: 100px auto 20px;
  border-radius: 10px;
  border-color: rgba(71, 75, 36, 0.3);
  border-style: dotted;
  border-width: 10px;
  max-width: 70%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-div {
  background-color: rgb(238, 224, 203);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: Pacifico, Arial;
  font-size: 20px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.title {
  text-align: center;
  color: rgb(30, 16, 20);
}

.to-do-icon {
  background-color: transparent;
  height: 30px;
  margin-left: 10px;
}

.input-div {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.input-field-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-field {
  padding: 8px 30px;
  border-radius: 7px;
  border: none;
}

.add-btn {
  padding: 3px 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.add-icon {
  background-color: transparent;
  height: 20px;
}

.task-list-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  .list-ul {
    background-color: rgb(238, 224, 203);
    color: rgb(30, 16, 20);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    min-width: 300px;
    min-height: 300px;
  }
}

li {
  color: rgb(30, 16, 20);
  background-color: rgb(250, 243, 234);
  margin: 7px;
  border-radius: 5px;
  padding: 3px 15px;
  list-style-type: none;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
}

.active {
  text-decoration: none;
  transition: text-decoration 0.15;
}

.completed {
  color: rgb(184, 183, 181);
  text-decoration: line-through;
}

span {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(214, 56, 31);
  border-radius: 50%;
  padding: 7px;
  display: inline-block;
  text-align: right;
}

span:hover {
  background-color: rgb(178, 176, 155);
}
